# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.manifest

# VS Code
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

logs/

# Test & coverage
htmlcov/
.tox/
.coverage
.cache
.nox/

# Test outputs
test_output/

# Jupyter
.ipynb_checkpoints/

# Data
*.sqlite3
*.db
*.tsv
*.bak
*.tmp
*.swp

*.csv
*.xlsx
*.xls
*.json
*.xml

# Custom
EXAMPLE/
INPUT/
build/
dist/
